body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-image: url(imgs/desktop-wallpaper-digital-art-artwork-minimalism-mountains-birds-stars-sky-1920x1080.jpg);
    background-size: cover;
    color: white;
}

::placeholder {
    color: white;
    border: none;
    font-size: 10px;
}

.fondo{
    border: solid 2px white;
    border-radius: 20px;
    width: 450px;
    height: 35em;
    padding: 10px;
    box-shadow: 1px 1px 15px 8px white;
    backdrop-filter: blur(10px);
}

.fondo h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.datos .usuario{
    position: relative;
    background-color: transparent;
    margin: 30px;
    margin-left: 10px;
    width: 90%;
    padding: 10px;
    border: solid 2px white;
    border-radius: 25px;
}

.submit{
    font-weight: bold;
    color: white;
    width: 12vw;
    background-color: transparent;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    border: solid 2px white;
    
}

 .datos i{
    position: absolute;
    left: 40px;
    font-size: 25px;
}

.send i{
    position: absolute;
    left: 40px;
    bottom: 116px;
    font-size: 25px;
}