body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-image: url(imgs/blue-sky-half-moon-crescent-moon-clouds-star-trails-5k-3840x2160-8404.png);
    background-size: cover;
    color: white;
}

.fondo{
    border: solid 2px white;
    border-radius: 20px;
    width: 30vw;
    height: 35em;
    padding: 10px;
    box-shadow: 5px 5px 10px 7px white;
    backdrop-filter: blur(10px);

}

.fondo h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.datos .usuario{
    background-color: transparent;
    margin: 30px;
    margin-left: 10px;
    width: 90%;
    padding: 10px;
    border: solid 2px white;
    border-radius: 15px;
   
    
}