body{
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-image: url(imgs/desktop-wallpaper-digital-art-artwork-minimalism-mountains-birds-stars-sky-1920x1080.jpg);
    background-size: cover;
    color: white;
}

::placeholder {
    color: white;
    font-size: 10px;
}

.fondo{
    border: solid 2px white;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 8px rgb(255, 255, 255);
    width: 450px;
    height: 35em;
    padding: 10px;
    backdrop-filter: blur(10px);
}

.fondo h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.datos .usuario{
    position: relative;
    background-color: transparent;
    margin: 30px;
    margin-left: 10px;
    width: 90%;
    padding: 10px;
    outline: none;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
}

.submit{
    font-weight: bold;
    border: solid 2px white;
    color: white;
    width: 12vw;
    background-color: transparent;
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    width: 95%;
    transition: all 2s;
}

 .datos i{
    position: absolute;
    left: 40px;
    font-size: 25px;
}

.send i{
    position: absolute;
    left: 40px;
    bottom: 114px;
    font-size: 25px;
    transition: all 2s;
}

/*Animaciones*/

.submit:hover{
    transition: 2s;
    background-color: rgba(255, 255, 255, 0.677);  
    box-shadow: 5px 5px 7px black;  
    color: black;
    font-weight: bold;
}

.send:hover i{
    transition-duration: 2s;
    color: black;
}